<div>
  <h2 id="page-heading" data-cy="CarModelHeading">
    <span jhiTranslate="carplaceApp.carModel.home.title">Car Models</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="carplaceApp.carModel.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-car-model"
        [routerLink]="['/car-model/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="carplaceApp.carModel.home.createLabel"> Create a new Car Model </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="carModels?.length === 0">
    <span jhiTranslate="carplaceApp.carModel.home.notFound">No carModels found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="carModels && carModels.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="make"><span jhiTranslate="carplaceApp.carModel.make">Make</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="model">
            <span jhiTranslate="carplaceApp.carModel.model">Model</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="launchYear">
            <span jhiTranslate="carplaceApp.carModel.launchYear">Launch Year</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carModel of carModels; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/car-model', carModel.id, 'view']">{{ carModel.id }}</a>
          </td>
          <td>{{ carModel.make }}</td>
          <td>{{ carModel.model }}</td>
          <td>{{ carModel.launchYear }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/car-model', carModel.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/car-model', carModel.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(carModel)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="carModels && carModels.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
