<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="vehicleListing">
      <h2 data-cy="vehicleListingDetailsHeading"><span jhiTranslate="carplaceApp.vehicleListing.detail.title">Vehicle Listing</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ vehicleListing.id }}</span>
        </dd>
        <dt><span jhiTranslate="carplaceApp.vehicleListing.price">Price</span></dt>
        <dd>
          <span>{{ vehicleListing.price }}</span>
        </dd>
        <dt><span jhiTranslate="carplaceApp.vehicleListing.year">Year</span></dt>
        <dd>
          <span>{{ vehicleListing.year }}</span>
        </dd>
        <dt><span jhiTranslate="carplaceApp.vehicleListing.mileage">Mileage</span></dt>
        <dd>
          <span>{{ vehicleListing.mileage }}</span>
        </dd>

        <!-- New fields -->

        <dt><span>Internal number</span></dt>
        <dd>
          <span>{{ vehicleListing.internalNumber}}</span>
        </dd>

        <dt><span>Category</span></dt>
        <dd>
          <span *ngFor="let category of vehicleListing.categories; let last = last">
            <a [routerLink]="['/category', category?.id, 'view']">{{ category.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>

        <dt><span>Make</span></dt>
        <dd>
          <span>{{ vehicleListing.carModel?.make }}</span>
        </dd>

        <dt><span>Mot</span></dt>
        <dd>
          <span>{{ vehicleListing.mot }}</span>
        </dd>

        <dt><span>Registration date</span></dt>
        <dd>
          <span>{{ vehicleListing.regDate }}</span>
        </dd>

        <dt><span>Vehicle identification number</span></dt>
        <dd>
          <span>{{ vehicleListing.vin }}</span>
        </dd>

        <dt><span>Colour</span></dt>
        <dd>
          <span>{{ vehicleListing.colour }}</span>
        </dd>

        <dt><span>A/C</span></dt>
        <dd>
          <span>{{ vehicleListing.ac }}</span>
        </dd>

        <dt><span>ESP</span></dt>
        <dd>
          <span>{{ vehicleListing.esp }}</span>
        </dd>

        <dt><span>ABS</span></dt>
        <dd>
          <span>{{ vehicleListing.abs }}</span>
        </dd>

        <dt><span>Number of doors</span></dt>
        <dd>
          <span>{{ vehicleListing.doors }}</span>
        </dd>

        <dt><span>Cubic capacity</span></dt>
        <dd>
          <span>{{ vehicleListing.cubicCapacity }}</span>
        </dd>

        <dt><span>Number of seats</span></dt>
        <dd>
          <span>{{ vehicleListing.numberOfSeats }}</span>
        </dd>

        <dt><span>Emission Class</span></dt>
        <dd>
          <span>{{ vehicleListing.emissionClass }}</span>
        </dd>

        <dt><span>Emission</span></dt>
        <dd>
          <span>{{ vehicleListing.emission }}</span>
        </dd>

        <dt><span>Gear Box</span></dt>
        <dd>
          <span>{{ vehicleListing.gearbox }}</span>
        </dd>

        <!-- Ending new fields -->

        <dt><span jhiTranslate="carplaceApp.vehicleListing.fuel">Fuel</span></dt>
        <dd>
          <span jhiTranslate="{{ 'carplaceApp.FuelType.' + vehicleListing.fuel }}">{{ vehicleListing.fuel }}</span>
        </dd>
        <dt><span jhiTranslate="carplaceApp.vehicleListing.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'carplaceApp.ListingStatus.' + vehicleListing.status }}">{{ vehicleListing.status }}</span>
        </dd>


        <dt><span jhiTranslate="carplaceApp.vehicleListing.carModel">Car Model</span></dt>
        <dd>
          <div *ngIf="vehicleListing.carModel">
            <a [routerLink]="['/car-model', vehicleListing.carModel?.id, 'view']">{{ vehicleListing.carModel?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/vehicle-listing', vehicleListing.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
