<div>
  <h2 id="page-heading" data-cy="VehicleListingHeading">
    <span jhiTranslate="carplaceApp.vehicleListing.home.title">Vehicle Listings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="carplaceApp.vehicleListing.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vehicle-listing"
        [routerLink]="['/vehicle-listing/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="carplaceApp.vehicleListing.home.createLabel"> Create a new Vehicle Listing </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vehicleListings?.length === 0">
    <span jhiTranslate="carplaceApp.vehicleListing.home.notFound">No vehicleListings found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="vehicleListings && vehicleListings.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="price">
            <span jhiTranslate="carplaceApp.vehicleListing.price">Price</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="year">
            <span jhiTranslate="carplaceApp.vehicleListing.year">Year</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mileage">
            <span jhiTranslate="carplaceApp.vehicleListing.mileage">Mileage</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fuel">
            <span jhiTranslate="carplaceApp.vehicleListing.fuel">Fuel</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="carplaceApp.vehicleListing.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="carModel.id">
            <span jhiTranslate="carplaceApp.vehicleListing.carModel">Car Model</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" ></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicleListing of vehicleListings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vehicle-listing', vehicleListing.id, 'view']">{{ vehicleListing.id }}</a>
          </td>
          <td>{{ vehicleListing.price }}</td>
          <td>{{ vehicleListing.year }}</td>
          <td>{{ vehicleListing.mileage }}</td>
          <td jhiTranslate="{{ 'carplaceApp.FuelType.' + vehicleListing.fuel }}">{{ vehicleListing.fuel }}</td>
          <td jhiTranslate="{{ 'carplaceApp.ListingStatus.' + vehicleListing.status }}">{{ vehicleListing.status }}</td>
          <td>
            <div *ngIf="vehicleListing.carModel">
              <a [routerLink]="['/car-model', vehicleListing.carModel?.id, 'view']">{{ vehicleListing.carModel?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vehicle-listing', vehicleListing.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/vehicle-listing', vehicleListing.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(vehicleListing)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="vehicleListings && vehicleListings.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
